
<div class="mx-auto container">
    <div class="px-6 xl:px-0 py-10">
        <div class="lg:w-3/5">
            <h1 class="text-2xl lg:text-4xl font-bold text-indigo-900 tracking-normal lg:w-11/12">Upcoming Events to Attend</h1>
            <div class="py-4">
                <svg xmlns="http://www.w3.org/2000/svg" width="60" height="2" viewBox="0 0 60 2" fill="none">
                    <rect width="60" height="2" fill="#E53E3E"></rect>
                </svg>
            </div>
            <p class="font-normal text-gray-700 leading-7 w-9/12">Lorem Ipsum. Proin gravida nibh vel velit amet auctor aliquet. Aenean sollicitudin, lorem quis bibendum nisi elit consequat ipsum, nec ipsu sagittis sebh id elit. Duis sed odio sit amet nibh vulputatrsus a sit amet mauris morbi ipsum.</p>
        </div>
    </div>
    <div class="px-6 xl:px-0 grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-3 py-6 gap-8">
        <div>
            <div class="relative event-custom-height">
                <img class="absolute inset-0 object-cover object-center w-full h-full" src="https://cdn.tuk.dev/assets/components/111220/eventsList/eventsection1.png" alt="Caucas Session" />
            </div>
            <div class="py-6 border-b border-gray-200">
                <h1 class="text-2xl text-indigo-900 font-bold">Caucas Session</h1>
                <p class="py-3 text-sm text-gray-700 leading-8">Lorem Ipsum. Proin gravida nibh vel velit amet auctor aliquet. Aenean sollicitudin, lorem quis bibendum nisi elit consequat ipsum nec ipsu.</p>
                <p class="text-sm text-red-600">Tuesday, 12th August, 2020</p>
                <div class="pt-6">
                    <div class="flex justify-between w-full items-center text-gray-600 text-sm">
                        <div class="flex items-center">
                            <div>
                                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
                                    <circle cx="9" cy="9" r="7.5" stroke="#718096" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round"></circle>
                                    <path d="M9 4.8335V9.00016L11.5 11.5002" stroke="#718096" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round"></path>
                                </svg>
                            </div>
                            <p class="pl-1">4:00pm to 6:00pm</p>
                        </div>
                        <div class="flex items-center pl-2">
                            <div>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="18" viewBox="0 0 16 18" fill="none">
                                    <circle cx="8" cy="8.1665" r="2.5" stroke="#718096" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round"></circle>
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M12.7141 12.8806L9.17831 16.4164C8.86602 16.729 8.44227 16.9047 8.0004 16.9047C7.55852 16.9047 7.13478 16.729 6.82248 16.4164L3.28581 12.8806C0.682416 10.2771 0.682489 6.05602 3.28597 3.45258C5.88946 0.84914 10.1105 0.84914 12.714 3.45258C15.3175 6.05602 15.3175 10.2771 12.7141 12.8806Z" stroke="#718096" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round"></path>
                                </svg>
                            </div>
                            <p class="pl-1">Manhattan, NY</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="relative event-custom-height">
                <img class="absolute inset-0 object-cover object-center w-full h-full" src="https://cdn.tuk.dev/assets/components/111220/eventsList/Auditorium_session.png" alt="Oregon Rally 2020" />
            </div>
            <div class="py-6 border-b border-gray-200">
                <h1 class="text-2xl text-indigo-900 font-bold">Oregon Rally 2020</h1>
                <p class="py-3 text-sm text-gray-700 leading-8">Lorem Ipsum. Proin gravida nibh vel velit amet auctor aliquet. Aenean sollicitudin, lorem quis bibendum nisi elit consequat ipsum nec ipsu.</p>
                <p class="text-sm text-red-600">Tuesday, 12th August, 2020</p>
                <div class="pt-6">
                    <div class="flex justify-between w-full items-center text-gray-600 text-sm">
                        <div class="flex items-center">
                            <div>
                                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
                                    <circle cx="9" cy="9" r="7.5" stroke="#718096" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round"></circle>
                                    <path d="M9 4.8335V9.00016L11.5 11.5002" stroke="#718096" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round"></path>
                                </svg>
                            </div>
                            <p class="pl-1">4:00pm to 6:00pm</p>
                        </div>
                        <div class="flex items-center pl-2">
                            <div>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="18" viewBox="0 0 16 18" fill="none">
                                    <circle cx="8" cy="8.1665" r="2.5" stroke="#718096" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round"></circle>
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M12.7141 12.8806L9.17831 16.4164C8.86602 16.729 8.44227 16.9047 8.0004 16.9047C7.55852 16.9047 7.13478 16.729 6.82248 16.4164L3.28581 12.8806C0.682416 10.2771 0.682489 6.05602 3.28597 3.45258C5.88946 0.84914 10.1105 0.84914 12.714 3.45258C15.3175 6.05602 15.3175 10.2771 12.7141 12.8806Z" stroke="#718096" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round"></path>
                                </svg>
                            </div>
                            <p class="pl-1">Manhattan, NY</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="relative event-custom-height">
                <img class="absolute inset-0 object-cover object-center w-full h-full" src="https://cdn.tuk.dev/assets/components/111220/eventsList/political_convention.png" alt="Political Convention" />
            </div>
            <div class="py-6 border-b border-gray-200">
                <h1 class="text-2xl text-indigo-900 font-bold">Political Convention</h1>
                <p class="py-3 text-sm text-gray-700 leading-8">Lorem Ipsum. Proin gravida nibh vel velit amet auctor aliquet. Aenean sollicitudin, lorem quis bibendum nisi elit consequat ipsum nec ipsu.</p>
                <p class="text-sm text-red-600">Tuesday, 12th August, 2020</p>
                <div class="pt-6">
                    <div class="flex justify-between w-full items-center text-gray-600 text-sm">
                        <div class="flex items-center">
                            <div>
                                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
                                    <circle cx="9" cy="9" r="7.5" stroke="#718096" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round"></circle>
                                    <path d="M9 4.8335V9.00016L11.5 11.5002" stroke="#718096" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round"></path>
                                </svg>
                            </div>
                            <p class="pl-1">4:00pm to 6:00pm</p>
                        </div>
                        <div class="flex items-center pl-2">
                            <div>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="18" viewBox="0 0 16 18" fill="none">
                                    <circle cx="8" cy="8.1665" r="2.5" stroke="#718096" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round"></circle>
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M12.7141 12.8806L9.17831 16.4164C8.86602 16.729 8.44227 16.9047 8.0004 16.9047C7.55852 16.9047 7.13478 16.729 6.82248 16.4164L3.28581 12.8806C0.682416 10.2771 0.682489 6.05602 3.28597 3.45258C5.88946 0.84914 10.1105 0.84914 12.714 3.45258C15.3175 6.05602 15.3175 10.2771 12.7141 12.8806Z" stroke="#718096" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round"></path>
                                </svg>
                            </div>
                            <p class="pl-1">Manhattan, NY</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="relative event-custom-height">
                <img class="absolute inset-0 object-cover object-center w-full h-full" src="https://cdn.tuk.dev/assets/components/111220/eventsList/White_formal_dinner.png" alt="formal_dinner" />
            </div>
            <div class="py-6 border-b border-gray-200">
                <h1 class="text-2xl text-indigo-900 font-bold">White Formal Dinner</h1>
                <p class="py-3 text-sm text-gray-700 leading-8">Lorem Ipsum. Proin gravida nibh vel velit amet auctor aliquet. Aenean sollicitudin, lorem quis bibendum nisi elit consequat ipsum nec ipsu.</p>
                <p class="text-sm text-red-600">Tuesday, 12th August, 2020</p>
                <div class="pt-6">
                    <div class="flex justify-between w-full items-center text-gray-600 text-sm">
                        <div class="flex items-center">
                            <div>
                                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
                                    <circle cx="9" cy="9" r="7.5" stroke="#718096" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round"></circle>
                                    <path d="M9 4.8335V9.00016L11.5 11.5002" stroke="#718096" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round"></path>
                                </svg>
                            </div>
                            <p class="pl-1">4:00pm to 6:00pm</p>
                        </div>
                        <div class="flex items-center pl-2">
                            <div>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="18" viewBox="0 0 16 18" fill="none">
                                    <circle cx="8" cy="8.1665" r="2.5" stroke="#718096" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round"></circle>
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M12.7141 12.8806L9.17831 16.4164C8.86602 16.729 8.44227 16.9047 8.0004 16.9047C7.55852 16.9047 7.13478 16.729 6.82248 16.4164L3.28581 12.8806C0.682416 10.2771 0.682489 6.05602 3.28597 3.45258C5.88946 0.84914 10.1105 0.84914 12.714 3.45258C15.3175 6.05602 15.3175 10.2771 12.7141 12.8806Z" stroke="#718096" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round"></path>
                                </svg>
                            </div>
                            <p class="pl-1">Manhattan, NY</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="relative event-custom-height">
                <img class="absolute inset-0 object-cover object-center w-full h-full" src="https://cdn.tuk.dev/assets/components/111220/eventsList/Auditorium_session.png" alt="Auditorium session" />
            </div>
            <div class="py-6 border-b border-gray-200">
                <h1 class="text-2xl text-indigo-900 font-bold">Auditorium Session</h1>
                <p class="py-3 text-sm text-gray-700 leading-8">Lorem Ipsum. Proin gravida nibh vel velit amet auctor aliquet. Aenean sollicitudin, lorem quis bibendum nisi elit consequat ipsum nec ipsu.</p>
                <p class="text-sm text-red-600">Tuesday, 12th August, 2020</p>
                <div class="pt-6">
                    <div class="flex justify-between w-full items-center text-gray-600 text-sm">
                        <div class="flex items-center">
                            <div>
                                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
                                    <circle cx="9" cy="9" r="7.5" stroke="#718096" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round"></circle>
                                    <path d="M9 4.8335V9.00016L11.5 11.5002" stroke="#718096" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round"></path>
                                </svg>
                            </div>
                            <p class="pl-1">4:00pm to 6:00pm</p>
                        </div>
                        <div class="flex items-center pl-2">
                            <div>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="18" viewBox="0 0 16 18" fill="none">
                                    <circle cx="8" cy="8.1665" r="2.5" stroke="#718096" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round"></circle>
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M12.7141 12.8806L9.17831 16.4164C8.86602 16.729 8.44227 16.9047 8.0004 16.9047C7.55852 16.9047 7.13478 16.729 6.82248 16.4164L3.28581 12.8806C0.682416 10.2771 0.682489 6.05602 3.28597 3.45258C5.88946 0.84914 10.1105 0.84914 12.714 3.45258C15.3175 6.05602 15.3175 10.2771 12.7141 12.8806Z" stroke="#718096" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round"></path>
                                </svg>
                            </div>
                            <p class="pl-1">Manhattan, NY</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="relative event-custom-height">
                <img class="absolute inset-0 object-cover object-center w-full h-full" src="https://cdn.tuk.dev/assets/components/111220/eventsList/meeting-2020.png" alt="meeting-2020" />
            </div>
            <div class="py-6 border-b border-gray-200">
                <h1 class="text-2xl text-indigo-900 font-bold">Meeting 2020</h1>
                <p class="py-3 text-sm text-gray-700 leading-8">Lorem Ipsum. Proin gravida nibh vel velit amet auctor aliquet. Aenean sollicitudin, lorem quis bibendum nisi elit consequat ipsum nec ipsu.</p>
                <p class="text-sm text-red-600">Tuesday, 12th August, 2020</p>
                <div class="pt-6">
                    <div class="flex justify-between w-full items-center text-gray-600 text-sm">
                        <div class="flex items-center">
                            <div>
                                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
                                    <circle cx="9" cy="9" r="7.5" stroke="#718096" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round"></circle>
                                    <path d="M9 4.8335V9.00016L11.5 11.5002" stroke="#718096" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round"></path>
                                </svg>
                            </div>
                            <p class="pl-1">4:00pm to 6:00pm</p>
                        </div>
                        <div class="flex items-center pl-2">
                            <div>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="18" viewBox="0 0 16 18" fill="none">
                                    <circle cx="8" cy="8.1665" r="2.5" stroke="#718096" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round"></circle>
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M12.7141 12.8806L9.17831 16.4164C8.86602 16.729 8.44227 16.9047 8.0004 16.9047C7.55852 16.9047 7.13478 16.729 6.82248 16.4164L3.28581 12.8806C0.682416 10.2771 0.682489 6.05602 3.28597 3.45258C5.88946 0.84914 10.1105 0.84914 12.714 3.45258C15.3175 6.05602 15.3175 10.2771 12.7141 12.8806Z" stroke="#718096" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round"></path>
                                </svg>
                            </div>
                            <p class="pl-1">Manhattan, NY</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .event-custom-height {
        min-height: 390px;
    }
</style>
