<section class="hero relative bg-blue-100 px-4 sm:px-8 lg:px-16 xl:px-20 2xl:px-50 pt-6 pb-8 md:pt-20 md:pb-20 lg:pt-40 lg:pb-40 2xl:pt-56 2xl:pb-96 text-center sm:text-left bg-right-bottom bg-contain bg-no-repeat">
<div>
<div class="relative w-full sm:w-2/3 lg:w-1/2 z-10">
  <img src="/img/home-sm.jpg" alt="Box of old photos to be scanned" class="w-100 mb-5 rounded block lg:hidden" />
  <span class="text-3xl lg:text-4xl xl:text-5xl leading-tight font-bold">Preserve your Memories</span>
  <h1 class="text-base leading-snug text-gray-700 mt-4 w-11/12">
    At Memories 2 Digital we're experts at helping protect your precious memories with our range of professional scanning services.
  </h1>
  <a href="/photo-scanning/" class="w-full block sm:inline-block sm:w-auto px-6 py-4 bg-blue-600 text-white rounded-lg mt-8">Photo Scanning</a>
  <a href="/slide-scanning/" class="w-full block sm:inline-block sm:w-auto px-6 py-4 bg-blue-600 text-white rounded-lg mt-8 md:ml-4">Slide Scanning</a>
</div>
  <div class="w-full absolute bottom-0 right-0"></div>
</div>

</section>